            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        

        <activity

            android:name=".activities.ChatActivity"

            android:exported="false"

            android:theme="@style/Theme.FimeMessengerApp" />

            

        <activity

            android:name=".activities.ContactsActivity"

            android:exported="false"

            android:theme="@style/Theme.FimeMessengerApp" />

            

        <activity

            android:name=".activities.ProfileActivity"

            android:exported="false"

            android:theme="@style/Theme.FimeMessengerApp" />

            

        <service

            android:name=".services.MessagingService"

            android:exported="false" />

            

    </application>



</manifest>

